<div class="container">
    <header class="header fixed-header top-header">
        
        <div class="logo">
          <a href="/">
            <img src="assets/logo-icon.png" alt="Huella animal" width="30" height="30">
            Cuidapet
          </a>
        </div>
        <div class="controls">
        <select class="language-selector">
          <option>Español</option>
          <option>Gallego</option>
          <option>Catalán</option>
          <option>Euskera</option>
        </select>
        <a href="/adoptions"><button  class="btn-outline">Adopciones</button></a>
      </div>
    </header>
    
    <main class="main">
        <div class="login-box">
            <h2>Iniciar Sesión</h2>
        
            <form>
              <label for="email">Correo electrónico</label>
              <input type="email" id="email" placeholder="correo@ejemplo.com">
        
              <label for="password">Contraseña</label>
              <input type="password" id="password" placeholder="•••••••">
        
              <a href="/forgotpassword" class="forgot-password">¿Has olvidado la contraseña?</a>
              <button type="submit" class="btn"><a href="/otplogin">Acceder</a></button>
            </form>
        </div>
    </main>
  </div>
