<div class="container">
    <header class="header fixed-header top-header">
        
        <div class="logo">
          <a href="/">
            <img src="assets/logo-icon.png" alt="Huella animal" width="30" height="30">
            Cuidapet
          </a>
        </div>
        <div class="controls">
        <select class="language-selector">
          <option>Español</option>
          <option>Gallego</option>
          <option>Catalán</option>
          <option>Euskera</option>
        </select>
        <a href="/adoptions"><button  class="btn-outline">Adopciones</button></a>
        <a  href="/login"><button class="btn-outline">Iniciar sesión</button></a>
      </div>
    </header>
    
    <main class="content">
        <div class="card">
          <h2>Nueva contraseña</h2>
          
          <label for="new-password">Nueva contraseña</label>
          <input type="password" id="new-password" placeholder="••••••">
    
          <label for="confirm-password">Confirmar contraseña</label>
          <input type="password" id="confirm-password" placeholder="••••••">
    
          <a  href="/login"><button class="btn primary-btn">Actualizar contraseña</button></a>
        </div>
    </main>
  </div>
