<html>
    <header>
    </header>
    <body>
        <p>Hola {% if name and name|length > 0 %}{{name}}{% else %} usuario{% endif %},</p>

        <p>Hemos recibido tu solicitud de restablecimiento de contraseña.</p>

        <p>Para restablecer tu contraseña, haz click en el siguiente enlace: </p>
        <p><a href={{url}}>{{url}}</a></p>

        <p>Este link expirará en 24 horas.</p>

        <p>Si no has olvidado tu contraseña, por favor ignora este correo.</p>

        <p>Gracias.</p>
    </body>
</html>