
<div class="container">
    <header class="header fixed-header top-header">
        
        <div class="logo">
          <a href="/">
            <img src="assets/logo-icon.png" alt="Huella animal" width="30" height="30">
            Cuidapet
          </a>
        </div>
        <div class="controls">
        <select class="language-selector">
          <option>Español</option>
          <option>Gallego</option>
          <option>Catalán</option>
          <option>Euskera</option>
        </select>
        <a href="/adoptions"><button  class="btn-outline">Adopciones</button></a>
        <a href="/login"><button class="btn-outline">Iniciar sesión</button></a>
      </div>
    </header>
    
    <main class="main">
      <div class="icon">
        <div class="huella-animal">
            <img src="assets/logo-icon.png" alt="Huella animal" width="200" height="200">
          </div>
      </div>
      <h1 class="title">Plataforma de cuidado animal</h1>
      <p class="description">
        Facilitamos el cuidado y adopción de animales, proporcionando información actualizada y sincronizada.
      </p>
      <a href="/adoptions"><button  class="btn-primary">Ver Adopciones</button></a>
    </main>
  </div>
  
