<div class="container">
    <header class="header fixed-header top-header">
        
        <div class="logo">
          <a href="/">
            <img src="assets/logo-icon.png" alt="Huella animal" width="30" height="30">
            Cuidapet
          </a>
        </div>
        <div class="controls">
        <select class="language-selector">
          <option>Español</option>
          <option>Gallego</option>
          <option>Catalán</option>
          <option>Euskera</option>
        </select>
        <button  class="btn-outline"><a href="/adoptions">Adopciones</a></button>
        <button class="btn-primary"><a class="btn-primary" href="/login">Iniciar sesión</a></button>
      </div>
    </header>
    
    <main class="content">
        <div class="card">
          <h2>Restablecer contraseña</h2>
          <label for="email">Correo electrónico</label>
          <input type="email" id="email" placeholder="correo@ejemplo.com">
          <div class="actions">
            <button class="btn-primary" ><a class="btn-primary" href="/">← Volver</a></button>
            <button class="btn primary-btn"><a href="/login">Restablecer</a></button>
          </div>
        </div>
    </main>
  </div>
